@font-face {
    font-family: 'MaruBuri';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-Regular.woff2) format('woff2');
    font-display: swap;
}

body {
    font-family: 'MaruBuri', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://github.com/rlahee0/SMwebsysdesign/raw/main/image/travel0.jpg'); /* 배경 이미지 경로 설정 */
    background-size: cover; /* 이미지를 요소 크기에 맞추어 조정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
}

header {
    background-color: rgba(255, 255, 255, 0.5); /* 반투명 배경 */
    color: #000;
    padding: 1em;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

.dropdown {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.main-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    width: 150px; /* 원하는 크기로 설정 */
}

.main-button:hover {
    background-color: #555; /* 배경색 변경 */
    color: #fff; /* 글자색 유지 */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    left: 0; /* 버튼의 왼쪽에 맞춰서 드롭다운이 펼쳐지게 함 */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
}

.main-content {
    flex: 3;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.travel-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.travel-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
    animation: float 3s ease-in-out infinite;
}

.travel-box:hover {
    transform: scale(1.05);
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #666666;
    color: white;
}
